.loader {
  width: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 1s infinite linear alternate;
}
@keyframes l5 {
  0% {
    box-shadow:
      20px 0 var(--color-anthracite),
      -20px 0 color-mix(in srgb, var(--color-anthracite) 13%, transparent);
    background: var(--color-anthracite);
  }
  33% {
    box-shadow:
      20px 0 var(--color-anthracite),
      -20px 0 color-mix(in srgb, var(--color-anthracite) 13%, transparent);
    background: color-mix(in srgb, var(--color-anthracite) 13%, transparent);
  }
  66% {
    box-shadow:
      20px 0 color-mix(in srgb, var(--color-anthracite) 13%, transparent),
      -20px 0 var(--color-anthracite);
    background: color-mix(in srgb, var(--color-anthracite) 13%, transparent);
  }
  100% {
    box-shadow:
      20px 0 color-mix(in srgb, var(--color-anthracite) 13%, transparent),
      -20px 0 var(--color-anthracite);
    background: var(--color-anthracite);
  }
}
